appdirs
asgiref
async-timeout
attrs
authlib
autoimport
bcrypt
boto3
botocore
certifi
chardet
charset-normalizer
click
coverage
dnspython
docopt
fastapi
fastapi
fastapi-users
fuzzywuzzy
gunicorn
httpcore
httpx
idna
mongoengine
mypy-extensions
numpy
pathspec
promise
pycryptodome
pydantic
PyJWT
pylint
pymongo
python-dateutil
python-dotenv
python-http-client
python-json-logger
python-multipart
python-multipart
pytz
redis
regex
requests
scikit-learn
sentence-transformers
spacy>=3.0.0
starlette
text-unidecode
textstat
toml
torch
tqdm
transformers
typing_extensions
urllib3
uvicorn
uvicorn
whitenoise
yarg